/* Skills Progress Bar */


.skills-general span{
	
	top: -2.5em;
    left: 2%;
    position: relative;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: monospace;
    color: #727271;
	
}

.skills-general {
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	
	border-radius: 15px 50px;
	background: #fff;
	padding: 3em 1em 1em 1.5em;
	
	


	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);

}

#mobile-see-projects{
	margin-top: 1em;
	visibility:hidden;
}


#radio-mobile-skills:hover #mobile-skills-progress{
	visibility: visible;
	max-height: 20em;
	margin-top: 3em;
}



progress {
    background-color: #f3f3f3;
    height: 1em;
    width: 100%;
}



progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
   background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 1px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}



progress::-moz-progress-bar {
   background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #09c, 
      #f44
    );

  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}

/* MOBILE & RADIO */
#mobile-radio-tech-title {
	display: block;
	color: black !important;
	width: 13em;
	margin-right: -1em;
	margin-left: -2em;
	background-color: #d2d2d2;
}




