/* Skills Progress Bar */


.skills-general-left span{
	
	top: -2.5em;
    left: 2%;
    position: relative;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: monospace;
    color: #727271;
	
}


.skills-general-center span{
	
	top: -2.5em;
    left: 2%;
    position: relative;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: monospace;
    color: #727271;
	
}

.skills-general-left {
	
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	border-radius: 15px 50px;
	background: #fff;
	padding: 3em 1em 1em 1.5em;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
	
	/* Alternative Display */
	margin-top: -30em;
}

.skills-general-center {
	
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	border-radius: 10px;
	background: #fff;
	padding: 3em 1em 1em 1.5em;
	
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
	
	/* Alternative Display */
	margin-top: -30em;
}




.skills-general-right {
	
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	border-radius: 15px 15px 50px 15px;
	background: #fff;
	padding: 3em 1em 1em 1.5em;
	
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
	
	/* Alternative Display */
	margin-top: -30em;
}

/* SKILL OVERVIEW */
#skills-overview-progress {
	float: right;
	margin-right: 1em;
	margin-bottom: 3em;
	margin-top: -15em;
	max-width: 30em;
	min-width: 30em;
}



.skill-overview-div {
	z-index: 0;
	max-width: 100%;
	min-height: 2em
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
}

.skill-overview-div-closed {
}

.skill-overview-div-open {
	max-height: 70%;
}

#skill-overview {
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
}



/********* SKILLS ANIMATION *******/
/* MOBILE & RADIO */
#mobile-see-projects{
	margin-top: 1em;
	visibility:hidden;
}


#radio-mobile-skills:hover #mobile-skills-progress{
	visibility: visible;
	max-height: 30em;
	margin-top: 3em;
}
/* JAVA & ANDROID */
#java-see-projects{
	margin-top: 1em;
	visibility:hidden;
}


/********************/
#java-mobile-skills:hover #java-skills-progress{
	visibility: visible;
	max-height: 30em;
	margin-top: 3em;
}


progress {
    background-color: #f3f3f3;
    height: 1em;
    width: 100%;
}



progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
   background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 1px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}



progress::-moz-progress-bar {
   background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #09c, 
      #f44
    );

  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}


.selected-skill-div-left {
	background: #13598C;
	box-shadow: 10px 10px 2px #0A2F49;
	border-radius: 15px 50px;
}
.selected-skill-div-center {
	background: #13598C;
	box-shadow: 10px 10px 2px #0A2F49;
	border-radius: 10px;
}

.selected-skill-div-right {
	background: #13598C;
	box-shadow: 10px 10px 2px #0A2F49;
	border-radius: 15px 15px 50px 15px;
}
/*************************/

/* Skill Text */
#skill-txt ul, #skill-txt li {
	 margin-left: 1em; padding: 0;  text-align: left;
}

.skills-div-left: hover  .skills-item {
	min-width: 30em !important;
}

.skills {
    padding: 50px 0;
}

.skills-row-container {
	z-index: 10;
	-webkit-box-shadow: 	0px -3px 7px 0.1em #d3d3d3 inset;
	-moz-box-shadow: 		0px -3px 7px 0.1em #d3d3d3 inset;
	box-shadow:				0px -3px 7px 0.1em #d3d3d3 inset;
	margin-right: 0em;
	margin-left: -1em;
}

.skills-item {
	cursor: pointer;
	min-height: 8em;
	max-height: 9.5em;
	margin-bottom: 11em;
}

.skills-general-div {
	cursor: pointer;
}

.skills-general-div:hover {
-webkit-box-shadow: 0 0 1px 3px #d3d3d3 inset;
-moz-box-shadow: 0 0 1px 3px #d3d3d3 inset;
box-shadow: 0 0 1px 3px #d3d3d3 inset;
}

/* Skills BG */

.telecom-bg {
		height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/telecom-bg.png);
}

.android-bg {
		height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/android-dev-bg.png);
}

#skill-overview {
	margin-top: 0em;
	z-index: 1;
}

.skill-overview-bg {
	    min-height: 0.5em;
		max-height: 3.6em;
		margin-bottom: 0.2em;
		z-index: 0;
		content: url(../img/skill-overview.png);
		cursor: default;
		border-radius: 3em;
		-webkit-box-shadow: 1px 1px 40px #0A2F49;
		-moz-box-shadow: 1px 1px 40px #0A2F49;
		box-shadow: 1px 1px 40px #0A2F49;
}


.research-bg {
		height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/research.png);
		cursor: default;
}

#skill-overview-h4 {
		margin-top: 6em;
}



.web-dev-bg {
	height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/web_dev.png);
}

.sql-dev-bg {
	height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/sql_dev.png);
}

.win-linux-bg {
	height: 1.8em;
		margin-bottom: 0.2em;
		z-index: 10;
		content: url(../img/win_linux.png);
}

/*******************/

.skills-list-item {
	color: #000;
	cursor: pointer;
	-webkit-transition: background-color 100ms ease-out 0.1s;
    -moz-transition: background-color 100ms ease-out 0.1s;
    -o-transition: background-color 100ms ease-out 0.1s;
    transition: background-color 100ms ease-out 0.1s;
}

.skills-list-item:hover {
	background-color: #d3d3d3;
	
}




